/* The google map where the client's location is displayed.*/
#map{
	
	/* Have the map fill the screen. */
	width: 99%;
	height: 98vh;

	/* Elements will be placed on top of the map. */
	position: absolute;

	background-color: grey;
	
}

@font-face{
	font-family: Sarabun;
	src: url(font/Sarabun.ttf);
}

/* Where the list of options will be displayed. */
#glassLocationSelectionPane{

	/* Position at right side of screen over map */
	float: right;
	position: absolute;
	
	/* Fill height of screen. */
	height: 98vh;
	width: 25%;

	background-color: rgb(141, 163, 153);

	font-family: Sarabun;

}

.locationListItem{

	
	color: black;
	text-align: center;
	font-size: 3em;

	/* Put border around each item */
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 15px;

	margin:3%;
	padding: 0%;

}